.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper{
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.wrapper h2{
    font-size: 70px;
}

.btnIncrease{
    width: 40px;
    height: 40px;
    padding: 7px 8px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

.btnDecrease{
    width: 40px;
    height: 40px;
    padding: 7px 8px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
     color: white;
}